@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    min-height: 150px;
    max-height: 400px;



}

header >h1{
    color: white;
    font-size: 8vw ;
    font-weight: bold;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-variant:small-caps ;
}

header >h2{
    font-weight: lighter;
    color: rgb(169, 169, 169);
    font-size: 1em ;
    margin: auto;
    padding-bottom: 40px;
    text-align: center;
}
header a, footer a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
header a:hover, footer a:hover{
    color: rgb(189, 189, 189);
    text-decoration: underline;
}

html, body{
    min-height: 100vh;

}


main > p{
    background-color: white;
    font-weight: bold;
    line-height: 2em;
    font-size: 4vw;
    padding: 10vw 0px 10vw 20px;

}

div.paralax{
    padding: 13vw 0px 13vw 5vw;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   

}

div#p1{
    background-image:url("joaninha.jpg") ;

}

div#p2{
    background-image:url("wallpaper002.jpg") ;

}

div.paralax p{

    padding: 2vw;
    background-color: rgba(0, 0, 0, 0.452);
    font-size: 4vw;
    color: white;
    display: inline-block;
    line-height: 2em;
    border-radius: 3vw;


    

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px; 
  
}
